@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */

  /* Costum Colors */
  --color-green1: #173945;
  --color-green2: #1D8FB1;
  --color-green3: #D5E0DC;
  --color-green4: #E3EBE8; /*new E3EBE8  old F1F6F4*/

/* 6E3C27 dark   8B533C lighter*/
  --color-brown1: #6E3C27; 
  --color-brown2: #BC846D;
  --color-brown3: #F2D2C3;
  --color-brown4: #F8EEE4;
  --color-brown5: #FFF7F1;

  /* Costum theme fonts */
  --font-heading: "Cardo";
  --font-body: "Raleway";

  /*Images scroll left animation*/
  --animate-img-scroll-left: img-scroll-left 15s linear infinite;

  @keyframes img-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /*Images scroll right animation*/
  --animate-img-scroll-right: img-scroll-right 15s linear infinite;

  @keyframes img-scroll-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  .fullwidthsection {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@layer components {
}
@layer utilities {
}
