---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import TextHeading from '../components/TextHeading.astro';
import TextBody from '../components/TextBody.astro';
---

<MainLayout title="Om Verdens Balletten">
    <article class="max-w-[360px] lg:max-w-[1200px] justify-center mx-auto">
    <!-- Heading starts here -->
    <section class="mt-30 lg:mt-30"> 
        <div class="mx-auto mb-6 text-center">
                <TextHeading htmlheading="h1" size="h2" stylingclasses="font-heading mb-6 font-bold">Om Verdensballetten</TextHeading>
            </div>
        <div class="border-brown3 border-1"></div>
    </section>
    <!-- end heading -->

    <!-- start text section 1 -->
    <section class="mt-15 lg:mt-30" id="images1">
        <TextHeading htmlheading="h1" size="eyebrow" stylingclasses="mb-5">Ballet med Danmark som kulisse</TextHeading>
        <div class="mx-auto mb-6 lg:grid grid-cols-2 gap-12 lg:gap-20">
               <div>
                    
                    <TextHeading htmlheading="h2" size="omh4" stylingclasses="font-heading mb-6 font-bold">
                        Med ønsket om at flytte ballet og klassisk musik ud af 
                        de mørke teatersale, rykker Verdensballetten hver 
                        sommer tutu, tåspidsdans og klassiske pas de 
                        deux’er ud i den danske sommer.
                    </TextHeading>
               </div>
               <TextBody size="p" stylingclasses="font-body leading-relaxed">
                Siden den første forestilling i 2008, hvor scenen 
                blev sat i den rå natur ved Den Tilsandede Kirke 
                i Skagen, optræder Verdensballetten nu på 
                mange spektakulære lokationer rundt i hele 
                Danmark, hvor man aldrig før har oplevet ballet 
                og opera på dette høje internationale niveau.
                <br><br>
                Vælg din yndlingslokation, alt efter om
                 kulisserne skal være havets brusen, smukke 
                 slotte, rå fængselsmure, åbne bypladser og 
                 ikoniske vartegn, og nyd at alt er under åben 
                 himmel. Samspillet mellem vind og vejr, kunsten 
                 og naturen som bagtæppe skaber en helt ny balletoplevelse 
                 præget af hver lokations særlige sjæl og karakter.
               </TextBody>
        </div>
        <!-- mobile -->
        <div class="lg:hidden flex flex-col gap-4 mb-25">
            <video class="lg:h-[630px] opacity-0 transition-opacity duration-1000 ease-in-out"
                src="/images/about/05_drone_locations_vertical.mp4"
                autoplay 
                muted 
                loop 
                id="videoMobile"
            ></video>
            <img class="lg:max-w-[738px] my-auto opacity-0 translate-y-8 transition-all duration-1000 ease-out"
                src="/images/about/img1.jpg" 
                alt=""
                id="imageMobile"
            >
        </div>
        <!-- desktop -->
        <div class="mt-15 hidden lg:flex gap-12 lg:gap-20 parallaxelementDown">
            <video class="lg:h-[630px] opacity transition-opacity duration-1000 ease-in-out"
                src="/images/about/05_drone_locations_vertical.mp4"
                autoplay 
                muted 
                loop 
                id="videoDesktop">
            </video>
            <img class="lg:max-w-[738px] my-auto parallaxelementUp opacity translate-y-8 transition-all duration-1000 ease-out"
                src="/images/about/img1.jpg" 
                alt=""
                id="imageDesktop">
        </div>
        
    </section>
    <!-- end text section 1 -->


    <!-- start text section 2 -->
    <section class="mt-15 lg:mt-60" id="images2">
        <TextHeading htmlheading="h1" size="eyebrow" stylingclasses="mb-5">Helstøbt gallaforestilling</TextHeading>
        <div class="mx-auto mb-6 lg:grid grid-cols-2 gap-12 lg:gap-20">
               <div>
                    <TextHeading htmlheading="h2" size="omh4" stylingclasses="font-heading mb-6 font-bold">
                        Årets forestilling byder på mindre uddrag fra ballettens mangfoldige verden.
                    </TextHeading>
               </div>
               <TextBody size="p" stylingclasses="font-body leading-relaxed">
                Verdensballettens kunstneriske leder Steven McRae 
                fra The Royal Ballet of London udtrykker det således:
                <br>
                ”Vi ønsker, at gæsterne oplever forestillingen som en æske 
                delikate chokolader – alle med forskellig 
                smag, der vækker en længsel efter mere”
                <br><br>
                Glæd dig til at opleve en forestilling, 
                der således er en nøje sammensat galla 
                med både klassisk ballet, moderne dans, 
                og helt nye koreografier skabt specielt 
                til Verdensballetten. Derudover indeholder 
                programmet kendte arier og scener fra 
                operaens verden og iørefaldende klassisk 
                musik for violin og klaver.
                <br><br>
                Konferencier og solist Jens-Christian 
                giver undervejs en underholdende indføring 
                i aftenens værker og medvirkende med fakta
                og skønne anekdoter, så man får den fulde oplevelse.
               </TextBody>
        </div>


    </section>
    <!-- end text section 2 -->

    <!-- start image section 2 -->
    <!-- desktop -->
    <section class="hidden lg:inline mb-30 lg:mb-80" id="images2-1">
        <div class="scale-50 lg:scale-100 lg:flex gap-12 lg:gap-20 -mt-15 lg:-mt-30 relative">
            <img class="lg:max-w-[512px] my-auto -scale-x-100 parallaxelement3" 
                src="/images/about/img2.jpg" alt="">
            <img class="lg:max-w-[456px] absolute left-0 top-40 lg:left-120 lg:top-40 my-auto parallaxelement2" 
                src="/images/about/img3.jpg" alt="">
        </div>
    </section>
    <!-- mobile -->
    <section class="lg:hidden mt-15">
        <div class="">
            <img class="my-auto mb-4" 
                src="/images/about/img2.jpg" alt="">
            <img class="my-auto" 
                src="/images/about/img3.jpg" alt="">
        </div>
    </section>
    <!-- end image section 2 -->
    
    <!-- start section 3 -->
    <section class="mt-15 lg:mt-30 lg:mb-40" id="images3">
        <TextHeading htmlheading="h1" size="eyebrow" stylingclasses="mb-5">Verdensstjerner tæt på dig</TextHeading>
        <div class="mx-auto mb-6 lg:grid grid-cols-2 gap-12 lg:gap-20 lg:justify-between">
               <div>
                   <div>
                        <TextHeading htmlheading="h2" size="omh4" stylingclasses="font-heading mb-6 font-bold">
                            Internationale stjerner fra Europas 
                            førende balletkompagnier møder 
                            nogle af Danmarks dygtigste dansere.
                        </TextHeading>
                   </div>
                   <TextBody size="p" stylingclasses="font-body leading-relaxed">
                    De medvirkende balletstjerner kommer rejsende 
                    fra Europas førende balletkompagnier som 
                    The Royal Ballet of London, Staatsballett Berlin, 
                    English National Ballet og Hamburg Ballett. 
                    Verdensballetten præsenterer naturligvis 
                    også nogle af Danmarks dygtigste 
                    solodansere fra Det Kongelige Teater.
                    <br><br>
    
                    Alle er de karismatiske og anerkendte
                    balletdansere med det højeste 
                    internationale niveau, som inspireres 
                    af Verdensballettens unikke koncept, 
                    hvor dans i enestående omgivelser 
                    bringer dem tæt på publikum i den 
                    lyse sommeraften.
                    <br><br>
                    
                    Trods udfordringerne ved at 
                    optræde i det fri glæder 
                    kunstnerne sig over uventede 
                    benspænd som sol i øjnene, sand 
                    i kostumet og kraftig sidevind – 
                    alt sammen elementer som skaber 
                    levende kunst, der opstår i nuet 
                    – endnu stærkere og mere bevægende.
                    <br><br>
                    
                    ”Det helt særlige ved Verdensballetten
                     er alle de unikke venues, der har 
                     deres egen energi. Vi kan se publikum, 
                     og hele oplevelsen bliver meget mere 
                     intim og speciel.”Reece Clarke, solodanser 
                     ved The Royal Ballet, London.
                     <br><br>
                   </TextBody>
               </div>
               <video class="lg:max-h-[630px] lg:ml-auto " id="video2"
                src="/images/about/03_backstage_ballerina_vertical.mp4"
                autoplay 
				muted 
				loop 
            ></video>
        </div>
    </section>
    <!-- end section 3 -->

    <!-- start section 4 -->
    <section class="mt-15 lg:mt-30 mb-15 lg:mb-60" id="images4">
        <div class="lg:flex gap-12 lg:gap-20 justify-between">
            <!-- mobile -->
            <div class="lg:hidden mt-15">
                <img class="my-auto mb-4" 
                    src="/images/about/img4.jpg" alt="">
                <img class="mb-15 w-full" 
                    src="/images/about/img5.jpg" alt="">
            </div>
            <!-- desktop -->
            <div class="scale-50 lg:scale-100 lg:flex gap-12 lg:gap-20 relative hidden">
                <img class="lg:max-w-[400px] absolute lg:top-20 lg:left-40 my-auto parallaxelement5" 
                    src="/images/about/img4.jpg" alt="">
                <img class="lg:max-w-[456px] absolute left-0 top-40 lg:left-0 lg:top-60 my-auto parallaxelement4" 
                    src="/images/about/img5.jpg" alt="">
            </div>
            <div class="max-w-[560px]">
                <div>
                    <TextHeading htmlheading="h1" size="eyebrow" stylingclasses="mb-5">Oplev Verdensballetten året rundt</TextHeading>
                    <TextHeading htmlheading="h2" size="omh4" stylingclasses="font-heading mb-6 font-bold">
                        Verdensballetten inviterer dig til et nyt format, vi kalder Balletsalon.
                    </TextHeading>
                </div>
                    <TextBody size="p" stylingclasses="font-body leading-relaxed">
                    På Verdensballetten brænder vi for 
                    at præsentere aktuelle og interessante 
                    balletoplevelser hele året rundt, og 
                    inviterer derfor til et nyt format, 
                    vi kalder Balletsalon, hvor vi lader 
                    vi publikum komme endnu tættere på.
                    I Rungstedlunds smukke stuer indbød 
                    vi i 2023 til en talk mellem Jens-Christian 
                    Wandt og den danske ballerina Astrid Elbo,
                     der bl.a. fortalte om sit karakterarbejde 
                     i rollen som Karen Blixen i forestillingen 
                     Blixen på Det Kgl. Teater samt forberedelserne 
                     til hendes debut i Svanesøen samme sted.
                     Et format vi gentog forår 2024 i 
                     forbindelse med Danmarks premieren 
                     på dokumentaren A Resilient Man om 
                     Steven McRae og hans kamp tilbage 
                     efter sin alvorlige skade.
                     <br><br>
                     Hold øje her på siden eller tilmeld dig vores nyhedsbrev.
                    </TextBody>
               </div>
        </div>
    </section>
    <!-- end section 4 -->


		<!-- start divider -->
		<div class="w-full border-brown3 border-1 mt-12 lg:mt-">
		</div>	
		<!-- end divider -->


    <!-- start podcast section -->
    <section class="my-15 lg:my-30" id="podcast">
        <div class="grid lg:grid-cols-2 gap-6 lg:gap-20 my-12 ">
            <div class="">
                <TextHeading htmlheading="h2" size="omh4" stylingclasses="font-heading mb-0 lg:mb-6 font-bold">
                    Kom med bag kulisserne <br> på Verdensballetten
                </TextHeading>
            </div>
                <TextBody size="p" stylingclasses="font-body max-w-[560px]">
                I 2022 var journalist, tilrettelægger og
                vært Katrine Nyland Sørensen med på 
                Verdensballettens turné rundt i Danmark. 
                Det er der kommet en podcastserie på 
                6 afsnit ud af. I serien kan du komme
                med helt ind i maskinrummet, høre sjove 
                anekdoter og møde de optrædende samt 
                teknik-holdet, der hvert år stabler 
                forestillingen på benene.
                </TextBody>
            </div>
        </div>

		<div class="et_pb_column et_pb_column_4_4 et_pb_column_inner et_pb_column_inner_2 et-last-child">
		<div class="et_pb_module et_pb_code et_pb_code_0  et_pb_text_align_center">
		<div class="et_pb_code_inner"><iframe src="https://widget.spreaker.com/player?episode_id=50756970&amp;theme=light&amp;playlist=show&amp;playlist-continuous=false&amp;playlist-loop=false&amp;playlist-autoupdate=true&amp;chapters-image=true&amp;episode_image_position=right&amp;hide-likes=false&amp;hide-comments=false&amp;hide-sharing=false&amp;hide-logo=false&amp;hide-download=false&amp;hide-episode-description=false&amp;hide-playlist-images=false&amp;hide-playlist-descriptions=false&amp;cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Ft_website_show_cover%2Fimages.spreaker.com%2Foriginal%2F8bbed8e369ba3b6491cfe5f489c056fa.jpg&amp;color=a2805c" width="100%" height="500px" frameborder="0" class="spreaker-player" id="spreaker-player-806692"></iframe>
        <script data-minify="1" defer="" src="https://verdensballetten.dk/wp-content/cache/min/1/widgets.js?ver=1763733387" data-rocket-status="executed"></script></div>
		</div>
		</div>
    </section>
    <!-- end podcast section -->


    </article>
</MainLayout>

<script>
    import { animate, inView, scroll } from 'motion';
    
    /* Parallax med tekstboks */ 
	scroll(animate(".parallaxelementUp", { y: [-20, 40] }), {
		target: document.querySelector(".parallaxelementUp"),
	});

    /* Parallax med tekstboks */ 
	scroll(animate(".parallaxelementDown", { y: [20, -40] }), {
		target: document.querySelector(".parallaxelementDown"),
	});

    /* Parallax med tekstboks */ 
	scroll(animate(".parallaxelement2", { y: [-40, 20] }), {
		target: document.querySelector(".parallaxelement2"),
	});

    /* Parallax med tekstboks */ 
	scroll(animate(".parallaxelement3", { y: [20, -40] }), {
		target: document.querySelector(".parallaxelement3"),
	});

    /* Parallax med tekstboks */ 
	scroll(animate(".parallaxelement4", { y: [-40, 20] }), {
		target: document.querySelector(".parallaxelement4"),
	});

    /* Parallax med tekstboks */ 
	scroll(animate(".parallaxelement5", { y: [0, -60] }), {
		target: document.querySelector(".parallaxelement5"),
	});


	inView( "#images1" , () =>{
	animate("#images1", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#images2" , () =>{
	animate("#images2", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#images2-1" , () =>{
	animate("#images2-1", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	// inView( "#video2" , () =>{
	// animate("#video2", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	// })

    // scroll(animate("#video2", { opacity: [1,0] }), {
	// 	target: document.querySelector("#video2"),
	// });

	inView( "#images3" , () =>{
	animate("#images3", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#images4" , () =>{
	animate("#images4", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#podcast" , () =>{
	animate("#podcast", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

    document.addEventListener('DOMContentLoaded', () => {
    const videos = document.querySelectorAll('video');
    const images = document.querySelectorAll('img');

    // Fade in videos with a slight delay
    videos.forEach(video => {
        setTimeout(() => {
            video.classList.add('opacity-100');
        }, 900); // small delay to make fade visible
    });

    // Observe images and fade them in after a delay
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                setTimeout(() => {
                    entry.target.classList.add('opacity-100', 'translate-y-0');
                }, 600); // 1.5s delay after entering viewport
                observer.unobserve(entry.target);
            }
        });
    }, { threshold: 0.2 });

    images.forEach(img => observer.observe(img));
});


</script>