---
import MainLayout from "../layouts/MainLayout.astro";
import ContactCards from "../components/ContactCards.astro";
import TextHeading from '../components/TextHeading.astro';
import TextBody from '../components/TextBody.astro';
---

<MainLayout title="">
<section class="max-w-[360px] lg:max-w-[1200px] justify-center mx-auto" >
	<!-- Heading starts here -->
    <section class="mt-30">
        <div class="mx-auto mb-6 text-center">
                <TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading mb-6 font-bold">Kontakt</TextHeading>
            </div>
        <div class="border-brown3 border-1 "></div>
    </section>
    <!-- end heading -->

	<section class="mt-30">
		<div class="flex justify-center">
			<div class=" grid grid-cols-1 lg:grid-cols-3 mb-12 gap-20 lg:gap-20">
    <ContactCards
    image="/images/contact/billet.jpg"
    title="Billetten -Tlf. nr: 70 20 20 96"
    description1="Alle spørgsmål vedr. billetkøb, log-in mv."
    description2="Mandag, onsdag og torsdag kl. 10.00-16.00"
    description3="Tirsdag og fredag kl. 10.00-15.00"
></ContactCards>
<ContactCards
						image="/images/contact/ida.jpg"
						title="Ida Moro Nielsen"
						description1="Administrationschef / Head of Operations"
						description2="Marketing, branding, kommunikation, annoncering, økonomi og salg."
						description3="E-mail: in@verdensballetten.dk"
					></ContactCards>

                    <ContactCards
						image="/images/contact/ditte.jpg"
						title="Ditte Højgaard Andersen"
						description1="Projektleder / Project Manager"
						description2="Kommunikation, projektledelse, markedsføring og fundraising."
						description3="E-mail: dha@verdensballetten.dk"
					></ContactCards>

                    <ContactCards
						image="/images/contact/marie.jpg"
						title="Ditte Marie Knudsen"
						description1="Projektkoordinator"
						description2="Produktion, logistik, afvikling, billetsalg og samarbejdspartnere."
						description3="E-mail: dmk@ps-com.dk"
					></ContactCards>

                    <ContactCards
						image="/images/contact/jens.jpg"
						title="Jens-Christian Wandt"
						description1="Kunstnerisk Leder / Founder"
						description2="Kunstnerisk indhold, fundraising & PR."
						description3="E-mail: wandt@webspeed.dk"
					></ContactCards>

                    <ContactCards
						image="/images/contact/jakob.jpg"
						title="Jakob Sick Nielsen"
						description1="Direktør / CEO"
						description2="Udvikling & samarbejder."
						description3="E-mail: jn@ps-com.dk"
					></ContactCards>
				</div>
				</div>
			</section>

    </section>
                </MainLayout>