---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import TextHeading from '../components/TextHeading.astro';
import Card from "../components/Card.astro";
import Newsletter2 from "../components/Newsletter2.astro";
---

<MainLayout title="Forestillinger">
<article class="max-w-[360px] lg:max-w-[1200px] justify-center mx-auto">
    <!-- Heading starts here -->
    <section class="mt-30">
        <div class="mx-auto mb-6 text-center">
                <TextHeading htmlheading="h1" size="eyebrow" stylingclasses="">Sæsong 2026</TextHeading>
                <TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading mb-6 font-bold">Forestillinger</TextHeading>
            </div>
        <div class="border-brown3 border-1 "></div>
    </section>
    <!-- end heading -->

    <!-- start performances list -->
    <section class="mt-30">
            <div class="flex justify-center">
				<div class=" grid grid-cols-1 lg:grid-cols-3 mb-12 gap-20 lg:gap-20">
					<Card
						image="/images/performances/forestilling1.jpg"
						tag="Klassisk Musik"
						name="Det Kgl. Haveselskabs Have"
						location="Frederiksberg"
						date="07 Jul. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling2.jpg"
						tag="Ballet + Opera"
						name="Sølyst"
						location="Klampenborg"
						date="08 Jul. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling3.jpg"
						tag="Ballet"
						name="Sylt"
						location="Tyskland"
						date="09 Jul. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling4.jpg"
						tag="Opera"
						name="Møllerup Gods"
						location="Møllerup"
						date="10 Jul. 2026"
					></Card>
                    <!-- 
					<Card
						image="/images/performances/forestilling5.jpg"
						tag="Ballet + Opera"
						name="TBA"
						location="Skagen"
						date="12 Jul. 2026"
					></Card> 
                    -->

					<Card
						image="/images/performances/forestilling6.jpg"
						tag="Ballet + Opera"
						name="Den Tilsandede Kirke"
						location="Skagen"
						date="12 Jul. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling7.jpg"
						tag="Ballet + Opera"
						name="Trelleborg"
						location="Trelleborg"
						date="01 Aug. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling8.jpg"
						tag="Ballet + Opera"
						name="Fjordenhus"
						location="Vejle"
						date="02 Aug. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling9.jpg"
						tag="Ballet + Opera"
						name="Great Northern"
						location="Kerteminde"
						date="03 Aug. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling10.jpg"
						tag="Ballet + Opera"
						name="Christianssæde Slot"
						location="Lolland"
						date="04 Aug. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling11.jpg"
						tag="Ballet + Opera"
						name="Tisvildeleje"
						location="Tisvildeleje"
						date="05 Aug. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling12.jpg"
						tag="Ballet + Opera"
						name="Rønnebæksholm"
						location="Næstved"
						date="06 Aug. 2026"
					></Card>
		
				</div>
			</div>
    </section>
    <!-- end performances list -->


</article>
</MainLayout>