---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import TextHeading from '../components/TextHeading.astro';
import TextBody from '../components/TextBody.astro';
import Card from "../components/Card.astro";
import Testimonials from "../components/Testimonials.astro";
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import { i } from "motion/react-client";
import Newsbutton from "../components/Newsbutton.astro";
---
<MainLayout title="Verdens Balletten - Hjem">
		<!-- start hero video section -->
		<div class="h-screen mb-20 overflow-hidden ">
			<video 
				src="/images/index/hero_video.mp4" 
				autoplay 
				muted 
				loop 
				class="w-full h-full object-cover"
			></video>
		</div>
		<!-- end hero video section -->


	<article class="max-w-[360px] lg:max-w-[1200px] justify-center mx-auto ">
		<!-- start short about -->
		<section class="mt-20 lg:mt-30 grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-12 content-center place-content-between" id="verdensballetten">
			<div class="hidden lg:inline lg:relative content-center">
				<img src="/images/index/1.png" alt="Himmelbjerg" class="lg:absolute lg:top-20 lg:right-0 z-0 parallaxelementDown">
				<img src="/images/index/2.png" alt="" class="lg:absolute lg:left-0 lg:bottom-20 z-1 parallaxelementUp">
			</div>
			<div class="max-w-[472px] lg:py-20  ml-auto" id="verdensballetten">
				<TextHeading htmlheading="h1" size="eyebrow" stylingclasses=" mb-4 lg:mb-6">Velkommen til VerdensBalletten</TextHeading>
				<TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading mb-4 lg:mb-6 font-bold">Ballet, opera og klassisk musik under åben himmel.</TextHeading>
				<TextHeading htmlheading="h3" size="" stylingclasses="font-heading text-[24px] mb-4 lg:mb-6">Oplev internationale stjerner optræde i Danmarks smukkeste omgivelser i en uforglemmelig fusion af dans og natur.</TextHeading>
				<div class="hidden lg:flex flex-row gap:12 lg:gap-12 mt-8 items-center spacing-between">
					<a href="/forestillinger" class="l"><Button size="regular">Køb Billetter</Button></a>
					<a href="/about"><Link size="regular" href="/about">Læs Mere →</Link></a>
				</div>
				<!-- mobile version -->
				<div class="lg:hidden flex flex-row gap:12 lg:gap-12 mt-4 items-center justify-between">
					<a href="/forestillinger" class="l"><Button size="regular">Køb Billetter</Button></a>
					<a href="/about"><Link size="regular" href="/about">Læs Mere →</Link></a>
				</div>
			</div>

		<!-- start blush decorations -->
		<!-- <div class="relative lg:w-[1200px] "> 
			<img src="/images/about/blush.svg" alt="blush decoration" 
			class="absolute left-250 lg:-top-150 -z-10 w-[200px] lg:w-[800px]" id="blush1">
			
			<img src="/images/about/blush.svg" alt="blush decoration" 
			class="absolute right-250 -top-200  -z-10  w-[200px] lg:w-[400px]" id="blush2">
		</div>	 -->
		<!-- end blush decorations -->
		 	
		</section>
		<!-- end short about -->

		<!-- start divider -->
		<div class="w-full border-brown3 border-1 mt-12">
		</div>	
		<!-- end divider -->

		<!-- start performances -->
		<section class="mt-20 lg:mt-30" id="forestillinger">
			<div class="flex flex-row justify-between ">
				<div>
					<TextHeading htmlheading="h1" size="eyebrow" stylingclasses="">Udforsk vores</TextHeading>
					<TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading mb-6 font-bold">Forestillinger</TextHeading>
				</div>
				<div class="hidden lg:flex-1 lg:flex items-center justify-end">
					<a href="/forestillinger"><Button variant="secondary">Se alle forestillingerne →</Button></a>
				</div>
			</div>
			<!-- start carusel -->
				<div class="relative">
				
					<!-- prev/next controls -->
					<button id="carousel-prev" aria-label="Forrige" class="absolute -left-20 top-1/2 -translate-y-1/2 z-10 bg-transparent border-2 border-brown1 hover:bg-brown1 transition duration-300 ease-in-out p-2 rounded-full hidden lg:block">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-current text-brown1 hover:text-white" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>
					</button>
					<button id="carousel-next" aria-label="Næste" class="absolute -right-20 top-1/2 -translate-y-1/2 z-10 bg-transparent border-2 border-brown1 hover:bg-brown1 transition duration-300 ease-in-out p-2 rounded-full hidden lg:block">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-current text-brown1 hover:text-white" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>
					</button>
				

					<div class=" overflow-x-auto ">
						<div class="flex flex-row gap-12 lg:gap-20">
							<a href="/singleview">
								<Card
									image="/images/performances/forestilling1.jpg"
									tag="Ballet"
									name="Det Kgl. Haveselskabs Have"
									location="Frederiksberg"
									date="07 Jul. 2026"
								></Card>
							</a>
				
							<Card
								image="/images/performances/forestilling2.jpg"
								tag="Opera"
								name="Sølyst"
								location="Klampenborg"
								date="08 Jul. 2026"
							></Card>
				
							<Card
								image="/images/performances/forestilling3.jpg"
								tag="Klassisk Musik"
								name="Sylt"
								location="Tyskland"
								date="09 Jul. 2026"
							></Card>
				
							<Card
								image="/images/performances/forestilling4.jpg"
								tag="Klassisk Musik"
								name="Møllerup Gods"
								location="Møllerup"
								date="10 Jul. 2026"
							></Card>
		<!-- 
							<Card
								image="/images/performances/forestilling5.jpg"
								tag="Ballet + Opera"
								name="TBA"
								location="Skagen"
								date="12 Jul. 2026"
							></Card> -->
		
							<Card
								image="/images/performances/forestilling6.jpg"
								tag="Ballet + Opera"
								name="Den Tilsandede Kirke"
								location="Skagen"
								date="12 Jul. 2026"
							></Card>
				
							<Card
								image="/images/performances/forestilling7.jpg"
								tag="Ballet + Opera"
								name="Trelleborg"
								location="Trelleborg"
								date="01 Aug. 2026"
							></Card>
				
							<Card
								image="/images/performances/forestilling8.jpg"
								tag="Ballet + Opera"
								name="Fjordenhus"
								location="Vejle"
								date="02 Aug. 2026"
							></Card>
				
							<Card
								image="/images/performances/forestilling9.jpg"
								tag="Ballet + Opera"
								name="Great Northern"
								location="Kerteminde"
								date="03 Aug. 2026"
							></Card>
				
							<Card
								image="/images/performances/forestilling10.jpg"
								tag="Ballet + Opera"
								name="Christianssæde Slot"
								location="Lolland"
								date="04 Aug. 2026"
							></Card>
				
							<Card
								image="/images/performances/forestilling11.jpg"
								tag="Ballet + Opera"
								name="Tisvildeleje"
								location="Tisvildeleje"
								date="05 Aug. 2026"
							></Card>
				
							<Card
								image="/images/performances/forestilling12.jpg"
								tag="Ballet + Opera"
								name="Rønnebæksholm"
								location="Næstved"
								date="06 Aug. 2026"
							></Card>
				
						</div>
					</div>
				</div>
			<!-- end carusel -->
			<div class="lg:hidden flex-1 flex items-center justify-center mt-12">
					<Button variant="secondary" buttonStyling="" size="small">Se alle forestillingerne →</Button>
				</div>

				
		</section>
		<!-- end performances -->
		
		<!-- start divider -->
		<div class="w-full border-brown3 border-1 mt-12">
		</div>	
		<!-- end divider -->

		<!-- start video section -->
		<section class="mt-20 lg:mt-30" id="video">
			<div class="lg:flex flex-row justify-between align-middle mb-15">
				<div>
					<TextHeading htmlheading="h1" size="eyebrow" stylingclasses="mb-">Glæd dig til</TextHeading>
					<TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading font-bold mb-2">Sæson 2026</TextHeading>
				</div>
				<div>
					<TextHeading htmlheading="h2" size="px20" stylingclasses="lg:max-w-[685px] text-[20px]">
						Se med, lyt og oplev en smagsprøve af, hvad man kan opleve til Verdensballetten.
						Lad os sammen glæde os til den kommende forestilling i de lyse sommeraftener på særligt udvalgte destinationer.
					</TexHeading>
				</div>
			</div>
			<div><video src="/images/index/Trailer-A-Verdensballetten-2026-1920x1080_Web-1.mp4" controls></video></div>

			<!-- start blush decorations -->
			<!-- <div class="relative lg:w-[1200px] -scale-x-100 -z-10"> 
				<img src="/images/about/blush.svg" alt="blush decoration" 
				class="absolute left-250 lg:-top-80 w-[200px] lg:w-[500px]" id="blush3">

				<img src="/images/about/blush.svg" alt="blush decoration" 
				class="absolute right-250 -top-200 w-[200px] lg:w-[400px]" id="blush4">
			</div>	 -->
			<!-- end blush decorations -->
		 	
		</section>
		<!-- end video section -->

		<!-- start divider -->
		<div class="w-full border-brown3 border-1 mt-12 lg:mt-30">
		</div>	
		<!-- end divider -->

		<!-- start reviews -->
		<section class="mt-20 lg:mt-30" id="review">
			<TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading mb-6 font-bold mx-auto text-center">
				Anmeldelser
			</TextHeading>
			<div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-8">
				<Testimonials
					text="Verdensballetten er både kulturmøde og kunstformidling."
					person="Kristeligt Dagblad"
					>
				</Testimonials>	
	
				<Testimonials
					text="Verdensballetten 2025 stråler af overskud."
					person="Balletanmelder Anne Middelboe - Information"
					>
				</Testimonials>	
	
				<Testimonials
					text="Verdensballetten er bedre end nogensinde."
					person="Kulturkupeen"
					>
				</Testimonials>	
			</div>	
		</section>
		<!-- end reviews -->

		<!-- start divider -->
		<div class="w-full border-brown3 border-1 mt-12 lg:mt-">
		</div>	
		<!-- end divider -->

		<!-- start image section -->
		<section class="mt-20 lg:mt-30" id="images">
			<div class="lg:flex lg:flex-row justify-between">
				<TextHeading htmlheading="h2" size="h2" stylingclasses="font-body mb-6 font-bold max-w-[658px]">
					Følg os på <br>sociale medier
				</TextHeading>
				<div class="lg:flex lg:flex-col items- justify-top max-w-[658px]">
						<TextHeading htmlheading="h2" size="px20" stylingclasses="font-body mb-6  ">
							Se indhold fra bag kulisserne, interviews med kunstneren, <br>uddrag fra forestillingerne og meget mere!
						</TextHeading>
						<div class="flex gap-4 mb-8
						[&_img]:bg-brown1 [&_img]:p-2 [&_img]:rounded-full [&_img]:hover:bg-brown2 transition duration-500 ease-in-out cursor-pointer">
							<a href="https://www.facebook.com/Verdensballetten/" class="px-[6px] bg-brown1 rounded-full"><img src="/images/footer/fb.svg" alt="facebook" class=""></a>
							<a href="https://www.instagram.com/verdensballetten/"><img src="/images/footer/instagram.svg" alt="instagram"></a>
						</div>	
				</div>
			</div>
			<!-- start img banner -->
   			 <div class="fullwidthsection overflow-x-hidden w-[100vw] grid grid-rows-1 grid-cols-1 justify-center items-center whitespace-nowrap">

     			 <div class="col-start-1 row-start-1 row-span-1 col-span-1 
				[&_img]:max-h-[150px] lg:[&_img]:max-h-[300px]">

     			   <div class="">
     			     <div class="whitespace-nowrap">
     			       <div class="inline-block animate-img-scroll-left whitespace-nowrap">
     			           <div class="flex gap-0">
     			             <img src="/images/index/banner/img1.jpg" alt="" class="">
     			             <img src="/images/index/banner/img2.jpg" alt="">
     			             <img src="/images/index/banner/img3.jpg" alt="">
     			             <img src="/images/index/banner/img4.jpg" alt="">
     			             <img src="/images/index/banner/img5.jpg" alt="">
     			           </div>
     			       </div>
     			       <div class="inline-block animate-img-scroll-left whitespace-nowrap" aria-hidden="true">
     			           <div class="flex gap-0">
     			             <img src="/images/index/banner/img1.jpg" alt="">
     			             <img src="/images/index/banner/img2.jpg" alt="">
     			             <img src="/images/index/banner/img3.jpg" alt="">
     			             <img src="/images/index/banner/img4.jpg" alt="">
     			             <img src="/images/index/banner/img5.jpg" alt="">
     			           </div>
     			       </div>
     			     </div>
				 
     			     <div class="whitespace-nowrap">
     			         <div class="inline-block animate-img-scroll-right whitespace-nowrap">
     			             <div class="flex gap-0">
     			               <img src="/images/index/banner/img6.jpg" alt="">
     			               <img src="/images/index/banner/img7.jpg" alt="">
     			               <img src="/images/index/banner/img8.jpg" alt="">
     			               <img src="/images/index/banner/img9.jpg" alt="">
     			               <img src="/images/index/banner/img10.jpg" alt="">
     			             </div>
     			         </div>
     			         <div class="inline-block animate-img-scroll-right whitespace-nowrap" aria-hidden="true">
     			             <div class="flex gap-0">
     			               <img src="/images/index/banner/img6.jpg" alt="">
     			               <img src="/images/index/banner/img7.jpg" alt="">
     			               <img src="/images/index/banner/img8.jpg" alt="">
     			               <img src="/images/index/banner/img9.jpg" alt="">
     			               <img src="/images/index/banner/img10.jpg" alt="">
     			             </div>
     			         </div>
     			     </div>
     			     </div>
     			</div>
      		</div>
			<!-- end img banner -->
		</section>
		<!-- end image section -->


	</article>
	<!-- <article>
		<h1>VB</h1>
		<Button>Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
		<Image src={thumbsup} alt=""></Image>
	</article> -->
</MainLayout>

<script>
		/* Import af Motion One bibliotek */
	import { animate, stagger, inView, scroll } from "motion";

	// js blocks goes here
	
	/* inView animation */
	inView( ".fotoinview" , () =>{
	animate( ".fotoinview", { y: [200, 0 ], opacity:[0,1] }, { duration: 1 })
	})

	/* Parallax med tekstboks */ 
	scroll(animate(".parallaxelementUp", { y: [-20, 40] }), {
		target: document.querySelector(".parallaxelementUp"),
	});

    /* Parallax med tekstboks */ 
	scroll(animate(".parallaxelementDown", { y: [20, -40] }), {
		target: document.querySelector(".parallaxelementDown"),
	});


	//* ------------------- Blush Animations ------------------------- *//
	/* Blush parallax up*/ 
	scroll(animate("#blush1", { y: [-80, 80] }), {
		target: document.querySelector("#blush1"),
	});

    /* Blush parallax down */ 
	scroll(animate("#blush2", { y: [60, -80] }), {
		target: document.querySelector("#blush2"),
	});

	/* Blush parallax up*/ 
	scroll(animate("#blush3", { y: [-80, 80] }), {
		target: document.querySelector("#blush3"),
	});

    /* Blush parallax down */ 
	scroll(animate("#blush4", { y: [60, -80] }), {
		target: document.querySelector("#blush4"),
	});

	//* ------------------- Fade in Animations ------------------------- *//
	inView( "#verdensballetten" , () =>{
	animate( "#verdensballetten", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#forestillinger" , () =>{
	animate("#forestillinger", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#video" , () =>{
	animate( "#video", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#images" , () =>{
	animate( "#images", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#review" , () =>{
	animate( "#review", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	
	
	// inView( ".animate__fadeInUp" , () =>{
	// animate( ".animate__fadeInUp", { y: [2000, 0 ], opacity:[0,1] }, { duration: 1.5 })
	// })




</script>