---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import TextHeading from '../components/TextHeading.astro';
import TextBody from '../components/TextBody.astro';
import Card from "../components/Card.astro";
import Testimonials from "../components/Testimonials.astro";
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import { i } from "motion/react-client";
---
<MainLayout title="Verdens Balletten - Hjem">
		<!-- start hero video section -->
		<div class="w-screen mb-20 overflow-hidden ">
			<video 
				src="/images/index/hero-video.mp4" 
				autoplay 
				muted 
				loop 
				class="w-full h-full object-cover"
			></video>
		</div>
		<!-- end hero video section -->

	<article class="max-w-[360px] lg:max-w-[1200px] justify-center mx-auto lg:[&_section]:my-30">
		<!-- start short about -->
		<section class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-12 content-center place-content-between" id="verdensballetten">
			<div class="hidden lg:inline lg:relative content-center">
				<img src="/images/index/1.png" alt="Himmelbjerg" class="lg:absolute lg:top-20 lg:right-0 z-0">
				<img src="/images/index/2.png" alt="" class="lg:absolute lg:left-0 lg:bottom-20 z-1">
			</div>
			<div class="max-w-[472px] py-20  ml-auto" id="verdensballetten">
				<TextHeading htmlheading="h1" size="eyebrow" stylingclasses=" mb-6">Velkommen til VerdensBalletten</TextHeading>
				<TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading text-[24px] mb-6 font-bold">Ballet, opera og klassisk musik under åben himmel.</TextHeading>
				<TextHeading htmlheading="h3" size="" stylingclasses="font-heading text-[24px] mb-6">Oplev internationale stjerner optræde i Danmarks smukkeste omgivelser i en uforglemmelig fusion af dans og natur.</TextHeading>
				<div class="flex flex-row gap:12 lg:gap-12 mt-8 items-center spacing-between">
					<a href="/forestillinger"><Button size="regular">Køb Billet</Button></a>
					<a href="/about"><Link size="regular" href="/about">Læs Mere →</Link></a>
				</div>
			</div>
				
		</section>
		<!-- end short about -->

		<!-- start upcoming performances -->
		<section class="mt-30" id="forestillinger">
			<div class="flex flex-row justify-between ">
				<div>
					<TextHeading htmlheading="h1" size="eyebrow" stylingclasses="">Udforsk vores</TextHeading>
					<TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading mb-6 font-bold">Forestillinger</TextHeading>
				</div>
				<div class="hidden lg:flex-1 lg:flex items-center justify-end">
					<a href="/forestillinger"><Button variant="secondary">Se alle forestillingerne</Button></a>
				</div>
			</div>
			<div class=" overflow-x-auto ">
				<div class="flex flex-row gap-12 lg:gap-20">
					<a href="/singleview">
						<Card
							image="/images/performances/forestilling1.jpg"
							tag="Ballet"
							name="Det Kgl. Haveselskabs Have"
							location="Frederiksberg"
							date="07 Jul. 2026"
						></Card>
					</a>
		
					<Card
						image="/images/performances/forestilling2.jpg"
						tag="Opera"
						name="Sølyst"
						location="Klampenborg"
						date="08 Jul. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling3.jpg"
						tag="Klassisk Musik"
						name="Sylt"
						location="Tyskland"
						date="09 Jul. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling4.jpg"
						tag="Klassisk Musik"
						name="Møllerup Gods"
						location="Møllerup"
						date="10 Jul. 2026"
					></Card>
<!-- 
					<Card
						image="/images/performances/forestilling5.jpg"
						tag="Ballet + Opera"
						name="TBA"
						location="Skagen"
						date="12 Jul. 2026"
					></Card> -->

					<Card
						image="/images/performances/forestilling6.jpg"
						tag="Ballet + Opera"
						name="Den Tilsandede Kirke"
						location="Skagen"
						date="12 Jul. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling7.jpg"
						tag="Ballet + Opera"
						name="Trelleborg"
						location="Trelleborg"
						date="01 Aug. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling8.jpg"
						tag="Ballet + Opera"
						name="Fjordenhus"
						location="Vejle"
						date="02 Aug. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling9.jpg"
						tag="Ballet + Opera"
						name="Great Northern"
						location="Kerteminde"
						date="03 Aug. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling10.jpg"
						tag="Ballet + Opera"
						name="Christianssæde Slot"
						location="Lolland"
						date="04 Aug. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling11.jpg"
						tag="Ballet + Opera"
						name="Tisvildeleje"
						location="Tisvildeleje"
						date="05 Aug. 2026"
					></Card>
		
					<Card
						image="/images/performances/forestilling12.jpg"
						tag="Ballet + Opera"
						name="Rønnebæksholm"
						location="Næstved"
						date="06 Aug. 2026"
					></Card>
		
				</div>
			</div>
			<div class="lg:hidden flex-1 flex items-center justify-center">
					<Button variant="secondary" buttonStyling="">Se alle forestillingerne</Button>
				</div>
		</section>
		<!-- end upcoming performances -->

		<!-- start video section -->
		<section class="mt-30" id="video">
			<div class="lg:flex flex-row justify-between align-middle mb-15">
				<div>
					<TextHeading htmlheading="h1" size="eyebrow" stylingclasses="">Glæd dig til</TextHeading>
					<TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading font-bold">Sæson 2026</TextHeading>
				</div>
				<div>
					<TextHeading htmlheading="h2" size="px20" stylingclasses="lg:max-w-[685px] text-[20px]">
						Se med, lyt og oplev en smagsprøve af, hvad man kan opleve til Verdensballetten.
						Lad os sammen glæde os til den kommende forestilling i de lyse sommeraftener på særligt udvalgte destinationer.
					</TexHeading>
				</div>
			</div>
			<div><video src="/images/index/Trailer-A-Verdensballetten-2026-1920x1080_Web-1.mp4" controls></video></div>
		</section>
		<!-- end video section -->

		<!-- start image section -->
		<section class="mt-30" id="images">
			<TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading mb-6 font-bold max-w-[658px]">
				Hvor ballet, opera og klassisk musik møder naturen
			</TextHeading>
			<!-- start img banner -->
   			 <div class="fullwidthsection overflow-x-hidden w-[200vw] grid grid-rows-1 grid-cols-1 justify-center items-center whitespace-nowrap">

     			 <div class="col-start-1 row-start-1 row-span-1 col-span-1 
				 [&_img]:my-2 [&_img]:max-h-[150px] lg:[&_img]:max-h-[300px]">

     			   <div class="">
     			     <div class="whitespace-nowrap">
     			       <div class="inline-block animate-img-scroll-left whitespace-nowrap p-2">
     			           <div class="flex gap-4">
     			             <img src="/images/index/banner/img1.jpg" alt="" class="">
     			             <img src="/images/index/banner/img2.jpg" alt="">
     			             <img src="/images/index/banner/img3.jpg" alt="">
     			             <img src="/images/index/banner/img4.jpg" alt="">
     			             <img src="/images/index/banner/img5.jpg" alt="">
     			           </div>
     			       </div>
     			       <div class="inline-block animate-img-scroll-left whitespace-nowrap" aria-hidden="true">
     			           <div class="flex gap-4">
     			             <img src="/images/index/banner/img1.jpg" alt="">
     			             <img src="/images/index/banner/img2.jpg" alt="">
     			             <img src="/images/index/banner/img3.jpg" alt="">
     			             <img src="/images/index/banner/img4.jpg" alt="">
     			             <img src="/images/index/banner/img5.jpg" alt="">
     			           </div>
     			       </div>
     			     </div>
				 
     			     <div class="whitespace-nowrap">
     			         <div class="inline-block animate-img-scroll-right whitespace-nowrap">
     			             <div class="flex gap-4">
     			               <img src="/images/index/banner/img6.jpg" alt="">
     			               <img src="/images/index/banner/img7.jpg" alt="">
     			               <img src="/images/index/banner/img8.jpg" alt="">
     			               <img src="/images/index/banner/img9.jpg" alt="">
     			               <img src="/images/index/banner/img10.jpg" alt="">
     			             </div>
     			         </div>
     			         <div class="inline-block animate-img-scroll-right whitespace-nowrap" aria-hidden="true">
     			             <div class="flex gap-4">
     			               <img src="/images/index/banner/img6.jpg" alt="">
     			               <img src="/images/index/banner/img7.jpg" alt="">
     			               <img src="/images/index/banner/img8.jpg" alt="">
     			               <img src="/images/index/banner/img9.jpg" alt="">
     			               <img src="/images/index/banner/img10.jpg" alt="">
     			             </div>
     			         </div>
     			     </div>
     			     </div>
     			</div>
      		</div>
			<!-- end img banner -->
		</section>
		<!-- end image section -->

		<!-- start reviews -->
		<section class="mt-30" id="review">
			<TextHeading htmlheading="h2" size="h2" stylingclasses="font-heading mb-6 font-bold mx-auto text-center">
				Anmeldelser
			</TextHeading>
			<div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-8">
				<Testimonials
					text="Verdensballetten er både kulturmøde og kunstformidling."
					person="Kristeligt Dagblad"
					>
				</Testimonials>	
	
				<Testimonials
					text="Verdensballetten 2025 stråler af overskud."
					person="Balletanmelder Anne Middelboe - Information"
					>
				</Testimonials>	
	
				<Testimonials
					text="Verdensballetten er bedre end nogensinde."
					person="Kulturkupeen"
					>
				</Testimonials>	
			</div>	
		</section>
		<!-- end reviews -->

	</article>
	<!-- <article>
		<h1>VB</h1>
		<Button>Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
		<Image src={thumbsup} alt=""></Image>
	</article> -->
</MainLayout>

<script>
		/* Import af Motion One bibliotek */
	import { animate, stagger, inView, scroll } from "motion";

	// js blocks goes here
	
	/* inView animation */
	inView( ".fotoinview" , () =>{
	animate( ".fotoinview", { y: [200, 0 ], opacity:[0,1] }, { duration: 1 })
	})

	

	inView( "#verdensballetten" , () =>{
	animate( "#verdensballetten", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#forestillinger" , () =>{
	animate("#forestillinger", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#video" , () =>{
	animate( "#video", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#images" , () =>{
	animate( "#images", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	inView( "#review" , () =>{
	animate( "#review", { y: [200, 0 ], opacity:[0,1] }, { duration: 1, delay: 0.3 })
	})

	
	
	// inView( ".animate__fadeInUp" , () =>{
	// animate( ".animate__fadeInUp", { y: [2000, 0 ], opacity:[0,1] }, { duration: 1.5 })
	// })




</script>