---
import Link from "./Link.astro"
import TextHeading from "./TextHeading.astro"
import TextBody from "./TextBody.astro"
---

<footer style="background:rgb(23, 57, 69); color:#fff; padding:2rem 0;">
  <div class="max-w-[1200px] mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 items-start py-6">
    <!-- Column 1: Logo & Address -->
    <div>
      <img src="/public/images/logo-stroke.svg" alt="Logo" style="width:120px; margin-bottom:1rem;">
      <TextBody stylingclasses="font-body font-bold text-[20px] opacity-50">
        Bredgade 76A, 1. sal<br>
        Havehuset<br>
        1260 København K<br>
        Danmark <br>
        CVR: 30517326
      </TextBody>
    </div>

    <!-- Column 2: Navigation Links -->
    <div>
      <TextHeading htmlheading="h2" size="" stylingclasses="text-[24px] font-heading text-green4 font-bold opacity-50">Navigation</TextHeading>
      <ul style="">
        <li><Link href="/forestillinger" variant="navlink">Forestillinger</Link></li>
        <li><Link href="/services" variant="navlink" linkStyling="">Nyheder</Link></li>
        <li><Link href="/about" variant="navlink" linkStyling="">Om os</Link></li>
        <li><Link href="/contact" variant="navlink" linkStyling="">Kontakt</Link></li>
        <li><Link href="/contact" variant="navlink" linkStyling="">Merch</Link></li>
      </ul>
    </div>

    <!-- Column 3: Other Links -->
    <div>
      <TextHeading htmlheading="h2" size="" stylingclasses="text-[24px] font-heading text-green4 font-bold opacity-50">Ressourcer</TextHeading>
      <ul style="list-style:none; padding:0;">
        <li><Link href="/blog" variant="navlink" style="color:#fff;">Vejr- og returpolitik</Link></li>
        <li><Link href="/careers" variant="navlink"style="color:#fff;">Partnerskaber</Link></li>
        <li><Link href="/faq" variant="navlink" style="color:#fff;">Privatlivspolitik</Link></li>
      </ul>
    </div>

    <!-- Column 4: Social Media Icons -->
    <div>
      <TextHeading htmlheading="h2" size="" stylingclasses="text-[24px] font-heading text-green4 font-bold opacity-50">Follow Us</TextHeading>
      <div style="display:flex; gap:1rem;">
        <a href="https://www.facebook.com/Verdensballetten/" target="_blank" rel="noopener" aria-label="Facebook">
          <img src="/public/images/footer/fb.svg" alt="">
        </a>
        <a href="https://www.linkedin.com/company/verdensballetten/" target="_blank" rel="noopener" aria-label="Linkedin">
          <img src="/public/images/footer/linkd.svg" alt="">
        </a>
        <a href="https://www.instagram.com/verdensballetten/" target="_blank" rel="noopener" aria-label="Instagram">
          <img src="/public/images/footer/instagram.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
  