---
import Link from "./Link.astro"; 
import Button from "./Button.astro";
---

<div 
    x-data="{ showOnScroll: false, showmenu: false }"
    x-init="
        if (window.innerWidth >= 1024) { // desktop only
            window.addEventListener('scroll', () => {
                showOnScroll = window.pageYOffset > 50;
            });
        } else {
            showOnScroll = true; // mobile: always visible
        }
    "
    x-cloak
    :class="showOnScroll ? 'translate-y-0' : '-translate-y-full'"
    class="bg-green1 p-4 fixed w-full z-100 top-0 transition-transform duration-300">


    <div id="navbar" class="flex flex-row justify-between max-w-[1200px] mx-auto">
        <div id="logo" class="my-auto lg:text-2xl">
            <a href="/">
                <img src="/images/Logo-stroke.svg" alt="" class="max-h-[60px] md:max-h-[60px] lg:max-h-[60px]">
            </a>
        </div>

        <!-- Desktop Menu -->
        <nav id="desktopmenu" class="hidden lg:block content-center sticky top-0">
            <ul class="lg:flex flex-row gap-12 content-center items-center">
                <li> <Link variant="navlink" href="/forestillinger">Forestillinger</Link></li>
                <li> <Link variant="navlink" href="/">Nyheder</Link>
                <li> <Link variant="navlink" href="/about">Om os</Link></li>
                <li> <Link variant="navlink" href="/contact">Kontakt</Link></li>
                <li> <Link variant="navlink" href="/contact">Merch</Link></li>
                <li> <Link variant="navlink" href="/contact">Min profil</Link></li>
                <li><a href="https://verdensballetten.netlify.app/images/index/tickets_image.webp" class="px-auto"><Button>Køb Billetter</Button></a> </li>
            </ul>    
        </nav>

        <!-- Mobile Burger Menu -->
        <button id="burgermenu" class="lg:hidden text-2xl font-bold text-white uppercase" 
                x-on:click="showmenu = !showmenu">
            <span x-show="!showmenu" class="text-4xl">☰</span>
            <span x-show="showmenu">✕</span>
        </button>
    </div>

    <!-- Mobile menu -->
    <nav id="mobilmenu" class="flex flex-col content-center justify-center pt-4 bg-dark-green lg:hidden"
         x-show="showmenu" x-transition x-on:click.outside="showmenu = false">
        <ul class="flex flex-col text-center gap-10 py-10">
            <li> <Link variant="navlink" href="/forestillinger">Forestillinger</Link></li>
            <!-- <li> <Link variant="navlink" href="/">Nyheder</Link></li> -->
            <li> <Link variant="navlink" href="/about">Om os</Link></li>
            <li> <Link variant="navlink" href="/contact">Kontakt</Link></li>
            <!-- <li> <Link variant="navlink" href="/contact">Merch</Link></li> -->
            <!-- <li> <Link variant="navlink" href="/contact">Min Profil</Link></li> -->
            <li><a href="https://www.ticketmaster.dk/" class="px-auto"><Button>Køb Billetter</Button></a> </li>
        </ul>  
    </nav>
</div>

