---
// Henter parametrene fra Astro.props 
const { href="#", target="_self", variant="primary", size="regular" } =Astro.props;
 
//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper
const linkStyling = ""; 
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
"navlink": "font-bold text-green3 hover:text-brown3 hover:underline transition duration-300 ease-in-out",
"primary": "btn my-2 btn-primary underline border-bottom-2 border-brown1 text-brown1 font-bold hover:text-brown2 transition duration-300 ease-in-out",
"secondary": "btn my-2 btn-secondary"
};
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
"regular": "",
"small": "btn-sm text-sm"
};
---
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>