---
import Button from '../components/Button.astro';
---

<!-- Floating Newsletter Button -->
<button id="newsletter-btn" 
   class="fixed right-6 bottom-12 bg-brown1 text-white font-bold px-6 py-3 rounded-full shadow-lg hover:bg-brown5 hover:border hover:border-2 hover:text-brown1 hover:border-brown1 transition-colors z-40">
   Tilmeld Nyhedsbrev
</button>