---
import TextBody from '../components/TextBody.astro';
const {text="", person="", fourstar="false", fivestar="false",} = Astro.props;
---

<div class="max-w-[330px] flex flex-col gap-4justify-center items-center text-center mx-auto mb-12">
	<span class="text-[120px] -mb-20 font-heading text-green1 opacity-25 max-w-[268px]">"</span>
    <TextBody teksttype="p" stylingclasses="italic text-[18px] font-body mb-6">
        {text}
    </TextBody>
    <div>
        <span class="text-brown1 text-3xl">★ ★ ★ ★ ★</span>
    </div>
    <TextBody teksttype="p" stylingclasses="text-[18px] font-body font-bold mb-6">
        {person}
    </TextBody>
</div>